*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    background-image: url(./backgrounf.jpg);
    background-size: cover;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    color: azure;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.signupform{
    width: 50%;
    margin: 0px auto;
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.signupform fieldset{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    
}

.signupform fieldset img{
    width: 60px;
    height: 60px;
    margin: 0px 45%;
}

.form{
    margin: 30px;
}

.form label{
    display: block;
    margin: 20px 0px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.form input{
    width: 100%;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding: 8px;
}

.form .location{
    width: 60%;
}

.form select{
    width: 39%;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding: 8px;
}

.form .inline{
    display: inline-flex;
    margin-right: 100px;
}

.form button{
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: royalblue;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}